{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static '/css/all_auth.css'%}">
{% endblock %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
{% include 'navbar.html' %}
{% include 'messages.html' %}
    <div class="container">
        <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
            <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
            <div class="card-img-left d-none d-md-flex row ms-5 w-50">
                
            </div>
            <div class="card-body p-4 p-sm-5">
                <h5 class="card-title text-center mb-5 fw-light fs-5">{% trans "Password Reset" %}</h5>
                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                {% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
                <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                    {% csrf_token %}
                    {{ form | crispy }}
            
                    <div class="d-grid mb-2">
                        <input type="submit" value="{% trans 'Reset My Password' %}"  class="btn btn-lg btn-primary btn-login fw-bold text-uppercase" />
                    </div>
                </form>
                <p>{% blocktrans %}Please contact "shahriarhossain.3825@gmail.com"
                    if you have any trouble resetting your password.{% endblocktrans %}</p>
            </div>
            </div>
        </div>
        </div>
    </div>

{% endblock %}