{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static '/css/all_auth.css'%}">
{% endblock %}

{% block content %}
{% include 'navbar.html' %}
{% include 'messages.html' %}
    <div class="container">
        <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
            <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
            <div class="card-body p-4 p-sm-5">
                <h1>{% trans "Change Password" %}</h1>
    <p>{% trans 'Your password is now changed.' %}</p>
            </div>
            </div>
        </div>
        </div>
    </div>

{% endblock %}
