{% extends "main.html" %}
{% load static %}
{% block main %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-blue order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Remaining Balance</h6>
                    <h2 class="text-right"><i class="fa fa-cart-plus f-left"></i><span class="mx-3">{{net_worth}}</span>
                    </h2>
                    <p class="m-b-0">Coming Soon<span class="f-right"></span></p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-xl-3">
            <div class="card  bg-c-pink order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Total Expense</h6>
                    <h2 class="text-right"><i class="fa fa-rocket f-left"></i><span class="mx-3">{{expense_data}}</span>
                    </h2>
                    <p class="m-b-0">Last Month Summery<span class="f-right">{{last_month_expense_data}}</span></p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-green order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Total Income</h6>
                    <h2 class="text-right"><i class="fa fa-refresh f-left"></i><span class="mx-3">{{income_data}}</span>
                    </h2>
                    <p class="m-b-0">Last Month Summery<span class="f-right">{{last_month_income_data}}</span></p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-yellow order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Net Worth</h6>
                    <h2 class="text-right"><i class="fa fa-credit-card f-left"></i><span
                            class="mx-3">{{net_worth}}</span></h2>
                    <p class="m-b-0">Coming Soon<span class="f-right"></span></p>
                </div>
            </div>
        </div>
    </div>
    <div class='row'>
            <div class='col-md-6 sd mx-auto ' id="canvasWrapper">
            </div>
            <div class='col-md-6 sd mx-auto' id="canv">
            </div>
    </div>
    
</div>
   

{% endblock %}


<script>
    {% block script %}
    // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      google.charts.setOnLoadCallback(drawlinechart);

      function drawChart() {

        var data =google.visualization.arrayToDataTable( {{category | safe}});

        var options = {
          title: 'Monthly Expense Record Category Wise',
          'is3D':true,
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.PieChart(document.getElementById('canvasWrapper'));
        var chart2 = new google.visualization.PieChart(document.getElementById('canv'));

        chart.draw(data, options);
        chart2.draw(data, options);
      }


      function drawlinechart() {
        var data = google.visualization.arrayToDataTable({{line_chart_data | safe}});

        var options = {
          title: 'Income Vs Expense Summery Of the Whole Year',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('canv'));

        chart.draw(data, options);
      }
    
    {% endblock %}
</script>
