{% extends  "main.html" %}
{{ form.media }}




{% block body %}
<div class="container">
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Date</th>
        
        <th scope="col">Account Name</th>
        <th scope="col">Transaction Type</th>
        <th scope="col">Amount</th>
        
      </tr>  
    </thead>
    <tbody>
      {% for transaction in object_list %}  
      <tr>
        <th scope="row">{{transaction.id}}</th>
        <td>{{account.date}}</td>
        <td>{{transaction.account}}</td>
        <td>{{transaction.account_transaction_type}}</td>
        <td>{{transaction.ammount}}</td>
        
      </tr>
      {% empty %}
        <h3>No Accounts Added</h3>
        <a href="{% url 'addnewaccount' %}" class="btn btn-primary active" role="button" data-bs-toggle="button" aria-pressed="true">Add New Account</a>


      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}