<nav class="navbar navbar-dark bg-dark fixed-top sticky-top">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">{% block header %}
      Personal Finance Management
     {% endblock %}</a>
    
    <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Dark offcanvas</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'dashboard' %}">Dashboard</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Accounts
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'addnewaccount' %}">Add New Account</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="{% url 'account-balance' %}">Check Balance</a></li>
              <li><a class="dropdown-item" href="{% url 'transaction-history' %}">Check Transitions History </a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Income
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'add-income-record' %}">Add Income record</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="{% url 'category-list' %}">Income Category</a></li>
              <li><a class="dropdown-item" href="{% url 'income-record-list' %}">Income Records</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Expanse
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'add-expanse-record' %}">Add Expanse record</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="{% url 'expanse-category-list' %}">Expanse Category</a></li>
              <li><a class="dropdown-item" href="{% url 'expanse-record-list' %}">Expanse Records</a></li>
            </ul>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li>
            <a href="{% url 'logout' %}" class="btn btn-danger active" role="button">Logout</a>
          </li>
          
        </ul>
      </div>
    </div>
  </div>
</nav>