{% extends "main.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block main %}

<!-- https://bootsnipp.com/snippets/K0ZmK -->
<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                            <h5>
                                {{user.get_full_name}}
                            </h5>
                            <h6>
                                {{user.occupation}}
                            </h6>
                            <p class="proile-rating">Date : <span>8/10</span></p>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <a class="profile-edit-btn" type="submit" href="{% url 'profile-update-page-url' %}">Edit Profile</a>
            </div>
        </div>
        <div class="row mt-lg-5">
            <div class="col-md-2">
            </div>
            <div class="col-md-6">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>User Name</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{user.username}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{user.email}}</p>
                                    </div>
                                </div>

                    </div>
                </div>
                {% csrf_token %}
                <button class="btn btn-light" onclick="swapStyles('style.css')">Light Mode</button>
                <button class="btn btn-dark" onclick="swapStyles('dark_style.css')">Dark Mode</button>
                
            </div>
        </div>
    </form>           
</div>

{% endblock %}